<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container-fluid mt-5">
    <h1 class="text-center"><%= restaurantName %> Reviews</h1>
    <a class="btn btn-primary" href="/restaurants/<%= restaurantId %>/addReview">Add a Review</a>
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Review</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Helpful?</th>
            </tr>
        </thead>

        <tbody>
            <% data.forEach(element => { %>
            <tr>
                <td><%= element.RestaurantUser.review_desc %></td>
                <td><%= element.getFullName() %></td>
                <td><%= element.email%></td>
                <td><%= element.username%></td>
                <td><a href="/restaurants/<%= restaurantId %>/<%= element.id %>/upvote"><button type="button" class="btn btn-primary">+</button></a> <%= element.RestaurantUser.review_rating %>
                <% if (role === 'admin level') { %>
                    <a href="/restaurants/admin/delete/<%= restaurantId %>/<%= element.id %>">Remove</a> 
                <% } %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('partials/footer') %>